<div style="padding: 20px;">
    <div class="wrap-form">
    
    	     <div>
                <h3 class="form-heading">Calculate Insurance</h3>
            </div>

            <div class="vehicle">
                <div class="vehicle-type">
                    <button class="vehicle-type-button" (click)="onVehicle4Click()">4 Wheeler Insurance</button>
                </div>
                <div class="vehicle-type">
                    <button class="vehicle-type-button" (click)="onVehicle2Click()">2 Wheeler Insurance</button>
                </div>
            </div>
    
        <form *ngIf="form1Completed" [formGroup]="form1" (ngSubmit)="onForm1Submit()" novalidate>
           

            
            <div class="form-group row">
                <label class="col-sm-11 offset-sm-1" for="">Age</label>
                <div class="col-sm-10 offset-sm-1">
                    <input type="text" class="form-control" formControlName="Age" 
                    [ngClass]="{'is-invalid': form1.get('Age').touched && form1.get('Age').invalid || (submitted && f1.Age.errors)}">
                    <div class="invalid-feedback">
                        <div>Age</div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-11 offset-sm-1" for="">Engine Power</label>
                <div class="col-sm-10 offset-sm-1">
                    <input type="text" class="form-control" formControlName="EnginePower" 
                    [ngClass]="{'is-invalid': form1.get('EnginePower').touched && form1.get('EnginePower').invalid || (submitted && f1.EnginePower.errors)}">
                    <div class="invalid-feedback">
                        <div>Engine Power</div>
                        
                    </div>
                </div>
            </div>



            <div class="form-group row">
                <label class="col-sm-11 offset-sm-1" for="">Model</label>
                <div class="col-sm-10 offset-sm-1">
                    <input type="text" class="form-control" formControlName="Model" 
                    [ngClass]="{'is-invalid': form1.get('Model').touched && form1.get('Model').invalid || (submitted && f1.Model.errors)}">
                    <div class="invalid-feedback">
                        <div>Enter Model Number</div>
                    </div>
                </div>
            </div>

            

            <div class="form-group row">
                <div class="submit-div">
                    <button type="submit" class="submit-button" (click)="onForm1Submit()">Submit</button>



                </div>
            </div>

        </form>
     

        <div *ngIf="show">

            <div class="vehicle">
                <div class="vehicle-type">
                    <button class="vehicle-type-button" >Third Party Premium: Rs.{{tpl}}</button>
                </div>
                <div class="vehicle-type">
                    <button class="vehicle-type-button">Comprehensive Premium: Rs.{{comp}}</button>
                </div>
            </div>


        </div>



    </div>
</div>