.wrap-form{
    margin: 0 auto;
    width:450px;
    background-color: #f8f0ef;
    padding: 20px;
    color: #5a0e09;
}

@media(max-width: 450px){
    .wrap-form{
        margin: 0 auto;
        width:100%;
        background-color: #f8f0ef;
        padding: 20px;
    } 
}

.form-heading{
    display: block;
    text-align: center;
    font-weight: 600;
}


.submit-button{
    display: block;
    width: 100px;
    border-radius: 6px;
    background-color: #95170e;
    color: white;
    border: none;
    font-size: large;
    padding: 5px;
}

.submit-div{
   margin: 0 auto;
   margin-top: 20px;
}

.captcha{
    margin:auto;
    display: block;
    height:75px;
    width:150px;
    font-size:25px;
    color:blue;
    text-align: center;
    background-color: white;
    font-weight: bold;
}

.refresh{
    margin:auto;
    display: block;
}


.change-password{
    padding: 25px;
    padding-left: 100px;
}

.password-type{
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    width: 50%;
}