<!-- <app-renew-insurance></app-renew-insurance> -->
<!-- <app-buy-insurance></app-buy-insurance> -->
<!-- <app-claim-insurance></app-claim-insurance> -->

<!-- <a routerLink='buy-policy'>Buy Policy</a>
<a routerLink='claim-policy'>Claim Policy</a>
<a routerLink='renew-policy'>Renew Policy</a>

<router-outlet></router-outlet> -->


<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-12"> 
                <h1 class="text-center">Vehicle Insurance</h1>
                <p>Our Site, a comprehensive package policy which covers Loss or Damage to your car,
                   Liability to third parties and provides personal accident cover to the Owner/Driver.</p>
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
  </header>

  
  <app-nav-bar></app-nav-bar>
  
  
  
  <router-outlet> </router-outlet>


  <!-- <nav>
    <a routerLink="/register">Register</a>
    <br>
    <a routerLink="/login">Login</a>
    <br>
    <a routerLink="/forgotPassword">Forgot Password</a>
    <br>
    <a routerLink="/resetPassword">Reset Password</a>
</nav>
<router-outlet></router-outlet> -->