<div >
    <div class="profile-heading-div" >
        <div class="profile-heading-class">
            <h3 class="profile-heading">{{loggedUserName}}</h3>
        </div>
        <!-- <div class="logout-button-class">
            <button class="logout-button">Buy</button>
        </div>
        <div class="logout-button-class">
            <button class="logout-button">Claim</button>
        </div>
        <div class="logout-button-class">
            <button class="logout-button">Renew</button>
        </div> -->
    </div>
  </div>
<div class="container" style="padding-top: 20px;">
<div>
  <div *ngFor='let policy of policies' class="row">  
    <div class="col-10 offset-xs-1 col-sm-6 col-md-4  profile-card" >
        
        <div >Policy Number: {{policy.policyId}}</div>

        <div>Plan: {{policy.plan}}</div>
        
        <div>RegistrationNo: {{policy.registrationNumber}}</div>
        
        <div >Model: {{policy.model}}</div>
        
        <!-- <div class="">
            <div class="policy-div">
                <button class="policy-button">Claim</button>
            </div>
            <div class="policy-div">
                <button class="policy-button">Renew</button>
            </div>
        </div> -->
        
    </div>
</div>
</div>


           

<h2>Claim History</h2>


<table style="width:100%">

<tr>
<th>PolicyNo</th>
<th>claimNo</th>
<th>Date</th>
<th>Status</th>
<th>Amount</th>
</tr>
<tr  *ngFor='let claim of claims'>
<td>{{claim.policyId}}</td>
<td>{{claim.claimId}}</td>
<td>{{claim.claimDate}}</td>
<td>{{claim.claimStatus}}</td>
<td>{{claim.claimAmount}}</td>
</tr>
</table>

</div>