<div >
    <div class="profile-heading-div" >
        <div class="profile-heading-class">
            <h3 class="profile-heading">Abhijeet Vatsha</h3>
        </div>
        <div class="logout-button-class">
            <button class="logout-button">Logout</button>
        </div>
    </div>
  </div>
<div class="container" style="padding-top: 20px;;">
  <div  class="row">  
    <div class="col-10 offset-xs-1 col-sm-6 col-md-4  profile-card" >
            <!--Upload Image Js And Css-->
                <!-- /input-group --> 
        
        <div >Policy Number: 1234657</div>
        
        <div>RegistrationNO: Shankar</div>
        
        <div >Model: Audi-A6</div>
        
        <div>claim Amount: 6754632</div>
        
        <div class="">
            <div class="policy-div">
                <button class="policy-button">Claim</button>
            </div>
            <div class="policy-div">
                <button class="policy-button">Renew</button>
            </div>
        </div>
        
    </div>

    <div class="  col-10  col-sm-6 col-md-4 profile-card" >
        <!--Upload Image Js And Css-->
            <!-- /input-group --> 
    
    <div >Policy Number: 1234657</div>
    
    <div>RegistrationNO: Shankar</div>
    
    <div >Model: Audi-A6</div>
    
    <div>claim Amount: 6754632</div>
    
    <div class="">
        <div class="policy-div">
            <button class="policy-button">Claim</button>
        </div>
        <div class="policy-div">
            <button class="policy-button">Renew</button>
        </div>
    </div>
    
</div>
</div>


           

<h2>Claim History</h2>


<table style="width:100%">

<tr>
<th>claimNo</th>
<th>Date</th>
<th>Status</th>
<th>Amount</th>
</tr>
<tr>
<td>12345</td>
<td>10/08/97</td>
<td>approved</td>
<td>500000</td>
</tr>
<tr>
<td>23456</td>
<td>22/08/2020</td>
<td>NotApproved</td>
<td>94000</td>
</tr>

</table>

</div>