.wrap-form{
    margin: 0 auto;
    width:450px;
    background-color: #f8f0ef;
    padding: 20px;
    color: #5a0e09;
}

@media(max-width: 450px){
    .wrap-form{
        margin: 0 auto;
        width:100%;
        background-color: #f8f0ef;
        padding: 20px;
    } 
}

.form-heading{
    display: block;
    text-align: center;
    font-weight: 600;
}

.password-type-button{
    border: none;
    background-color: #95170e;
    color: white;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
}

.change-password{
    padding: 25px;;
}

.password-type{
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    width: 50%;
}

@media(max-width: 450px){
    .vehicle-type{
        display: block;
        padding: 10px;
        margin: 0 auto;
        width: 100%;
    }
}

.submit-button{
    display: block;
    width: 100px;
    border-radius: 6px;
    background-color: #95170e;
    color: white;
    border: none;
    font-size: large;
    padding: 5px;
}

.submit-div{
   margin: 0 auto;
}
