<div>   
    <ul class="nav nav-tabs navbar">
      <!-- <div class="nav-div"> -->
        <li class="nav-item">
          <a class="nav-link nav-link-style" routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-style" routerLinkActive="active" routerLink="/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-style" routerLinkActive="active" routerLink= '/contact-us'>Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-style" routerLinkActive="active" routerLink="/faq">FAQ</a>
        </li>
        <!-- <li *ngIf="isUserLoggedIn" class="nav-item">
          <a class="nav-link nav-link-style" routerLinkActive="active" routerLink="/profile">Profile</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link nav-link-style" routerLinkActive="active" (click)="onLogClick()">{{process}}</a>
        </li>       -->
        <li class="nav-item">
          <a class="nav-link nav-link-style" routerLinkActive="active" routerLink="/login">{{process}}</a>
        </li>
      <!-- </div> -->
    </ul>
  </div>

 